<div class="banner position-relative" style="height:300px; background: url('images/banner.jpg') center center/cover no-repeat;">
    <div class="banner-overlay position-absolute top-0 start-0 w-100 h-100"
         style="background:rgba(0,0,0,0.3);">
        <div class="container h-100 d-flex flex-column justify-content-center text-white">
            <h1 class="display-4 fw-bold">Welcome to Our Shop</h1>
            <p class="fs-5">Find the best products at great prices!</p>
        </div>
    </div>
</div>