<EditForm Model="@Category" OnValidSubmit="HandleSubmit" FormName="CategoryForm">
    <DataAnnotationsValidator />
    <div class="mb-3 row">
        <label for="categoryName" class="col-sm-3 col-form-label">Name</label>
        <InputText id="categoryName" class="form-control" @bind-Value="Category.CategoryName" />
    </div>
    
    <div class="row">
        <div class="col-sm-12 text-end">
            <Button Type="ButtonType.Submit" Color="ButtonColor.Primary">@((IsEditing ? "Update Category" : "Add Category"))</Button>
            <Button Color="ButtonColor.Secondary" @onclick="Clear">Clear</Button>
            <Button Color="ButtonColor.Danger" @onclick="(() => Delete(Category))">Delete</Button>
        </div>
    </div>
</EditForm>