<div class="notification" style="display: @(IsVisible ? "block" : "none");">
    <p>@Message</p>
</div>

@code {
    [Parameter] public string Message { get; set; } = string.Empty;
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (IsVisible)
        {
            await Task.Delay(3000);
            IsVisible = false;
            await OnClose.InvokeAsync();
        }
    }
}